.event-item {
  border: 2px solid papayawhip;
  padding: 1.2rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.event-item__details {
  display: flex;
  align-items: space-between;
  flex-direction: column;
  height: 100%;
}

.event-item__detail {
  margin: 0.6rem;
}

.events-control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.events-control__panel {
  border: 2px solid papayawhip;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 3rem;
}
